@import "../../utilities/variables";
form{
  max-width: 1920px;
  .container{
    width: 80%;
    padding: 2rem;
    background-color: $PrimaryGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    .btn-container{
      width: 100%;
    }
  }
}
  
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  form{
    .container{
      width: 60%;
      .btn-container{
      }
    }
  }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
