@import "../../utilities/variables";

button{
  background-color: $PrimaryLightBlue;
  color:$PrimaryWhite;
  height: 40px;
  width:100%;
font-size: 1.2rem;
  border-radius: 25px;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  &:hover{
    background-color:$PrimaryWhite;
    color:$PrimaryLightBlue;
    border: 2px solid $PrimaryLightBlue;
  }
  &:active{
    background-color:$PrimaryDarkBlue;
    color:$PrimaryWhite;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    outline: none;
  }
  &:focus{
    outline-style: none;
  }
}