@import '../../../utilities/variables';

  .scroll-section {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    margin: 1rem 0;
  }
#kontakta-oss{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  p{
    font-size: $FontSizeDefault5;
  }
  #form-container_wrapper{
width: 80%;
  }
}

/*  600px and up) */
@media only screen and (min-width: 600px) {
  #kontakta-oss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    p{
      font-size: $FontSizeDefault5;
    }
    #form-container_wrapper{
  width: 60%;
    }
  }
} 
