$PrimaryLightBlue: #3399FF;
$PrimaryDarkBlue:#1914CC;
$PrimaryPurple:#5D5C99;
$PrimaryGreen:#245A64;
$PrimaryOrange:#CC5614;
$PrimaryLightGray:#F8F8F8;
$PrimaryGray:#d1d3d4;
$PrimaryDarkGray:#606060;
$PrimaryWhite:#FFFFFF;


$HeadlineSize: 0.85rem;
$HeadlineSize2: 1.1rem;
$FontSizeDefaultMin: 12px;
$FontSizeDefault2: 14px;
$FontSizeDefault3: 16px;

$TextSize: 11px;
$LinkSize: 0.5rem;


// $hover: blue;
// $active: pink;

@mixin list-default {
  list-style: none;
}