@import "../../utilities/variables";

.scroll-container {
  .card {
    margin: 10px;
    width: 150px;
    border:1px solid;

    .image-container {
      min-width: 100%;
      height: 100px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .text-container {
      border: 1px solid red;
      display: flex;
      padding: 0.4rem;
      
      flex-direction: column;
      height: 120px;
      overflow: scroll;
      .headline {
        text-decoration: underline;
        font-size: $HeadlineSize;
        margin-bottom: 0.3rem
      }
      .text {
        font-size: $TextSize;
      }
      a {
        font-size: $LinkSize;
        margin: 0 0 5px 100px;
      }
    }
  }
}
