@import "../../utilities/variables";

.divider {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background: $PrimaryDarkGray;
  color: $PrimaryWhite;
  p {
    margin-left: 10px;  
  }

  // fixed position under NavBar
}
.divider-fixed {
  @include fixed-divider-under-navbar;
}
