@import "../../utilities/variables";

* {
  margin: 0;
  padding: 0;
}

// -------NAVBAR--------
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $PrimaryGray;
  height: 60px;

  .navBarNavigation {
    display: flex;
    height: 100%;
    align-items: center;
    .navBarLogo {
      color:$PrimaryWhite;
      text-decoration: none;
      font-size: 1.5rem;
      padding-left:1rem;
    }

    .search-container {
      flex: 1;
      .search {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin: 0 auto;
        min-height: 24px;
         input {
           width: 100%;
           caret-color: $PrimaryLightBlue;
           outline: none;
           font-size: $FontSizeDefault;
         }
        .search-icon{
          width: 1.5rem;
          height: 24px;
          background-color: $PrimaryWhite;
        }
      } 
    }

    .navBarNavigationItems {
      ul {
        display: flex;
        li {
          list-style: none;
          .navBarNavigationItem {
            // color: white;
            text-decoration: none;
            padding: 0 0.5rem;
            &:hover {
              cursor: pointer;
              // color: $hover;
            }
          }
        }
      }
    }
  }
}



@media (max-width: 768px) {
  .navBarNavigationItems {
    display: none;
  }
}
