footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: gray;
  position: fixed;
  width: 100%;
  bottom: 0;
}
