@import "../../../utilities/variables.scss";
.hamburgerMenu {
  height: 100%;
  background-color: $PrimaryDarkGray;
  color: $PrimaryWhite;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // max-width: 350px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  .icon-container{
display: flex;
justify-content: flex-end;
.icon{
  margin: 1rem;
}

  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    li {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // background-color: lightblue;
      width: 100%;
      &:hover{
        background-color: $PrimaryWhite;
      }
      .hamburgerLink {
        text-decoration: none;
        // color: $PrimaryWhite;
        font-size: 2rem;
      }
      
    }
  }
}

//open/close hamburger menu
.hamburgerMenu.open {
  transform: translateX(0);
}
.active{
  color: red;
}