.hamburgerButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 36px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-right: 1rem;

  .buttonLine {
    width: 30px;
    height: 2px;
    background: blue;
  }
}
@media (min-width: 768px) {
  .hamburgerButtonContainer {
    display: none;
  }
}
