.hamburgerMenu {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 350px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    li {
      .hamburgerLink {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }
    }
  }
}

//open/close hamburger menu
.hamburgerMenu.open {
  transform: translateX(0);
}
