// Fonts from Google fonts, https://fonts.google.com/?category=Sans+Serif&selection.family=Open+Sans:400,700|Roboto:400,700
/* 
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
*/

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  // page Content start under heroImage
  // margin-top: 160px;
}
